doctype html
html
  head
    title HP Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        img(src="/static/logo.png", alt="kuchh bhi")
        ul 
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | © 2015 - 2022 | HP Dance Academy. | All Rights Reserved with Copyright & TradeMarks 